In [284]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt

In [249]:
buy_data = pd.read_excel('buy_data.xlsx', sheet_name = 'R5-1交易')
#price_data = pd.read_csv('net_value.csv', encoding='utf-8')

with open('net_value3.csv', 'r',encoding="utf-8", errors='ignore') as f:
    price_data = pd.read_csv(f)

In [250]:
buy_data.head()

,客戶,基金簡稱,201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812,總計
0,100542,野村環球基金-新臺幣計價,NaN,NaN,NaN,NaN,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,24000
1,100606,野村巴西證券投資信託基金,3000.0,3000.0,3000.0,3000.0,6000.0,15000.0,3000.0,6000.0,3000.0,3000.0,3000.0,3000.0,54000
2,100606,野村台灣運籌基金,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,36000
3,100606,野村全球高股息基金-累積型新臺幣計價,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,36000
4,100606,野村優質基金-累積類型新臺幣計價,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,36000

In [266]:
price_data.head()
header = list(price_data)[1:]
#print(header)

In [255]:
name = buy_data['基金簡稱'][1]
match_data = list(price_data['local'])

for i in range(1, 102):
    #print(match_data[i])
    if name == match_data[i]:
        a=price_data.ix[i]

b = buy_data.loc[1][1:14]

print(a[:4])
a = list(a)[1:]
b = list(b)[1:]

c = pd.DataFrame(
    {'date': header, '野村巴西證券投資信託基金': a, '購買金額':b}
)

local        野村巴西證券投資信託基金
2018/1/16            6.28
2018/2/9             6.17
2018/3/15            6.52
Name: 48, dtype: object

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

In [256]:
val = c['購買金額']
cal = []
temp = 0
for i in range(0, 12):
    temp = temp + val[i]
    cal.append(temp)
#print(cal)

c['累積金額'] = cal

In [257]:
c.head()

        date  野村巴西證券投資信託基金    購買金額     累積金額
0  2018/1/16          6.28  3000.0   3000.0
1   2018/2/9          6.17  3000.0   6000.0
2  2018/3/15          6.52  3000.0   9000.0
3  2018/4/17          6.30  3000.0  12000.0
4  2018/5/15          5.99  6000.0  18000.0

In [289]:
price = c['野村巴西證券投資信託基金']
pos = [] #購買部位

for i in range(0, 12):
    temp = val[i] / price[i]
    pos.append(temp)

c['購買部位'] = pos
c.head()

,date,野村巴西證券投資信託基金,購買金額,累積金額,購買部位,累積部位,帳面價值,累積帳面價值,實際購買_報酬,野村貨幣市場基金,貨幣型購買部位,貨幣型累積部位,貨幣型累積帳面價值,貨幣型購買_報酬
0,2018/1/16,6.28,3000.0,3000.0,477.707006,477.707006,3000.000000,3000.000000,0.000000,16.2258,184.890730,184.890730,3000.000000,0.000000
1,2018/2/9,6.17,3000.0,6000.0,486.223663,963.930669,5947.452229,5947.452229,-0.008758,16.2300,184.842884,369.733613,6000.776541,0.000129
2,2018/3/15,6.52,3000.0,9000.0,460.122699,1424.053369,9284.827964,9284.827964,0.031648,16.2364,184.770023,554.503636,9003.142836,0.000349
3,2018/4/17,6.30,3000.0,12000.0,476.190476,1900.243845,11971.536222,11971.536222,-0.002372,16.2424,184.701768,739.205404,12006.469858,0.000539
4,2018/5/15,5.99,6000.0,18000.0,1001.669449,2901.913294,17382.460631,17382.460631,-0.034308,16.2475,369.287583,1108.492987,18010.239806,0.000569

In [290]:
cum_pos = [] #累積部位
temp = 0
for i in range(0, 12):
    temp = temp + pos[i]
    cum_pos.append(temp)
    
c['累積部位'] = cum_pos
c.head()

,date,野村巴西證券投資信託基金,購買金額,累積金額,購買部位,累積部位,帳面價值,累積帳面價值,實際購買_報酬,野村貨幣市場基金,貨幣型購買部位,貨幣型累積部位,貨幣型累積帳面價值,貨幣型購買_報酬
0,2018/1/16,6.28,3000.0,3000.0,477.707006,477.707006,3000.000000,3000.000000,0.000000,16.2258,184.890730,184.890730,3000.000000,0.000000
1,2018/2/9,6.17,3000.0,6000.0,486.223663,963.930669,5947.452229,5947.452229,-0.008758,16.2300,184.842884,369.733613,6000.776541,0.000129
2,2018/3/15,6.52,3000.0,9000.0,460.122699,1424.053369,9284.827964,9284.827964,0.031648,16.2364,184.770023,554.503636,9003.142836,0.000349
3,2018/4/17,6.30,3000.0,12000.0,476.190476,1900.243845,11971.536222,11971.536222,-0.002372,16.2424,184.701768,739.205404,12006.469858,0.000539
4,2018/5/15,5.99,6000.0,18000.0,1001.669449,2901.913294,17382.460631,17382.460631,-0.034308,16.2475,369.287583,1108.492987,18010.239806,0.000569

In [291]:
account_value = [] #累積帳面價值

for i in range(0, 12):
    temp = cum_pos[i] * price[i]
    account_value.append(temp)

c['累積帳面價值'] = account_value
c.head()

,date,野村巴西證券投資信託基金,購買金額,累積金額,購買部位,累積部位,帳面價值,累積帳面價值,實際購買_報酬,野村貨幣市場基金,貨幣型購買部位,貨幣型累積部位,貨幣型累積帳面價值,貨幣型購買_報酬
0,2018/1/16,6.28,3000.0,3000.0,477.707006,477.707006,3000.000000,3000.000000,0.000000,16.2258,184.890730,184.890730,3000.000000,0.000000
1,2018/2/9,6.17,3000.0,6000.0,486.223663,963.930669,5947.452229,5947.452229,-0.008758,16.2300,184.842884,369.733613,6000.776541,0.000129
2,2018/3/15,6.52,3000.0,9000.0,460.122699,1424.053369,9284.827964,9284.827964,0.031648,16.2364,184.770023,554.503636,9003.142836,0.000349
3,2018/4/17,6.30,3000.0,12000.0,476.190476,1900.243845,11971.536222,11971.536222,-0.002372,16.2424,184.701768,739.205404,12006.469858,0.000539
4,2018/5/15,5.99,6000.0,18000.0,1001.669449,2901.913294,17382.460631,17382.460631,-0.034308,16.2475,369.287583,1108.492987,18010.239806,0.000569

In [292]:
act_return = [] #實際購買_報酬
for i in range(0, 12):
    temp = (account_value[i] - cal[i])/cal[i]
    act_return.append(temp)

c['實際購買_報酬'] = act_return
c.head()

,date,野村巴西證券投資信託基金,購買金額,累積金額,購買部位,累積部位,帳面價值,累積帳面價值,實際購買_報酬,野村貨幣市場基金,貨幣型購買部位,貨幣型累積部位,貨幣型累積帳面價值,貨幣型購買_報酬
0,2018/1/16,6.28,3000.0,3000.0,477.707006,477.707006,3000.000000,3000.000000,0.000000,16.2258,184.890730,184.890730,3000.000000,0.000000
1,2018/2/9,6.17,3000.0,6000.0,486.223663,963.930669,5947.452229,5947.452229,-0.008758,16.2300,184.842884,369.733613,6000.776541,0.000129
2,2018/3/15,6.52,3000.0,9000.0,460.122699,1424.053369,9284.827964,9284.827964,0.031648,16.2364,184.770023,554.503636,9003.142836,0.000349
3,2018/4/17,6.30,3000.0,12000.0,476.190476,1900.243845,11971.536222,11971.536222,-0.002372,16.2424,184.701768,739.205404,12006.469858,0.000539
4,2018/5/15,5.99,6000.0,18000.0,1001.669449,2901.913294,17382.460631,17382.460631,-0.034308,16.2475,369.287583,1108.492987,18010.239806,0.000569

In [293]:
name = '野村貨幣市場基金'
match_data = list(price_data['local'])

for i in range(1, 102):
    if name == match_data[i]:
        currency = price_data.ix[i]

currency = list(currency)[1:]


c['野村貨幣市場基金'] = currency
c.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,date,野村巴西證券投資信託基金,購買金額,累積金額,購買部位,累積部位,帳面價值,累積帳面價值,實際購買_報酬,野村貨幣市場基金,貨幣型購買部位,貨幣型累積部位,貨幣型累積帳面價值,貨幣型購買_報酬
0,2018/1/16,6.28,3000.0,3000.0,477.707006,477.707006,3000.000000,3000.000000,0.000000,16.2258,184.890730,184.890730,3000.000000,0.000000
1,2018/2/9,6.17,3000.0,6000.0,486.223663,963.930669,5947.452229,5947.452229,-0.008758,16.2300,184.842884,369.733613,6000.776541,0.000129
2,2018/3/15,6.52,3000.0,9000.0,460.122699,1424.053369,9284.827964,9284.827964,0.031648,16.2364,184.770023,554.503636,9003.142836,0.000349
3,2018/4/17,6.30,3000.0,12000.0,476.190476,1900.243845,11971.536222,11971.536222,-0.002372,16.2424,184.701768,739.205404,12006.469858,0.000539
4,2018/5/15,5.99,6000.0,18000.0,1001.669449,2901.913294,17382.460631,17382.460631,-0.034308,16.2475,369.287583,1108.492987,18010.239806,0.000569

In [294]:
curr_price = c['野村貨幣市場基金']
curr_pos = [] #貨幣型_購買部位

for i in range(0, 12):
    temp = val[i] / curr_price[i]
    curr_pos.append(temp)

c['貨幣型購買部位'] = curr_pos

curr_cum_pos = [] #累積部位
temp = 0
for i in range(0, 12):
    temp = temp + curr_pos[i]
    curr_cum_pos.append(temp)
    
c['貨幣型累積部位'] = curr_cum_pos

curr_account_value = [] #貨幣型累積帳面價值

for i in range(0, 12):
    temp = curr_cum_pos[i] * curr_price[i]
    curr_account_value.append(temp)

c['貨幣型累積帳面價值'] = curr_account_value

curr_return = [] #貨幣購買_報酬
for i in range(0, 12):
    temp = (curr_account_value[i] - cal[i])/cal[i]
    curr_return.append(temp)

c['貨幣型購買_報酬'] = curr_return

c.head()

,date,野村巴西證券投資信託基金,購買金額,累積金額,購買部位,累積部位,帳面價值,累積帳面價值,實際購買_報酬,野村貨幣市場基金,貨幣型購買部位,貨幣型累積部位,貨幣型累積帳面價值,貨幣型購買_報酬
0,2018/1/16,6.28,3000.0,3000.0,477.707006,477.707006,3000.000000,3000.000000,0.000000,16.2258,184.890730,184.890730,3000.000000,0.000000
1,2018/2/9,6.17,3000.0,6000.0,486.223663,963.930669,5947.452229,5947.452229,-0.008758,16.2300,184.842884,369.733613,6000.776541,0.000129
2,2018/3/15,6.52,3000.0,9000.0,460.122699,1424.053369,9284.827964,9284.827964,0.031648,16.2364,184.770023,554.503636,9003.142836,0.000349
3,2018/4/17,6.30,3000.0,12000.0,476.190476,1900.243845,11971.536222,11971.536222,-0.002372,16.2424,184.701768,739.205404,12006.469858,0.000539
4,2018/5/15,5.99,6000.0,18000.0,1001.669449,2901.913294,17382.460631,17382.460631,-0.034308,16.2475,369.287583,1108.492987,18010.239806,0.000569